* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: crimson;
}


.card {
    width:700px;
    background-color: #ccc;
    padding: 20px;
    margin: 20px;
    font-family: sans-serif;
    line-height: 20px;
}

/* Scrollbar */
::-webkit-scrollbar {
    background-color: transparent;
    width:10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#FFFFFF,#6284FF, #FF0000);
    border-radius: 100px;
    
}