* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #00008bcb;
}

/* Centering the elements */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Creating spacing and flex display */
.wrapper .loader {
    display: flex;
    justify-content: space-evenly;
    padding: 0 20px;
}

/* each loading dot and animation */
.loader .loading {
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin:0 10px;
    animation: load 0.8s ease infinite;
}

/* animation delay */
.loader .loading.one {
    animation-delay: 0.3s;
}

.loader .loading.two {
    animation-delay: 0.4s;
}

.loader .loading.three {
    animation-delay: 0.5s;
}

.loader .loading.four {
    animation-delay: 0.6;
}

/* animation loading */
@keyframes load {
    0%{
        width: 30px;
        height: 30px;
    }
    50%{
        width: 20px;
        height: 20px;
    }
}
